.inputLogin {
  width: 319px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #d2c2ffad;
  padding-bottom: 10px;
  color: #9b96ab;
  padding-left: 10px;
  margin: 15px 0;
}
.inputProfile {
  width: 319px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #d2c2ffad;
  padding-bottom: 10px;
  color: #9b96ab;
  padding-left: 10px;
  margin: 15px 0;
  display: flex;
}
/* label {
    margin-left: 10px;
  } */
.check {
  outline-color: #2395ff;
  outline-width: 1px;
}
.inputFoto {
  display: none;
}
.labelFoto {
  border-radius: 10px;
  background-color: white;
  border: 3px solid #2395ff;
  color: #2395ff;
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  text-align: center;
}
