.box {
  height: 1250px;
  width: 323px;
}

.box .group {
  background-color: #ffffff;
  border-radius: 15px;
  height: 1250px;
  left: 0;
  position: fixed;
  top: 0;
  width: 323px;
}

.box .div {
  height: 1190px;
  left: 28px;
  position: relative;
  top: 30px;
  width: 268px;
}

.box .group-2 {
  height: 173px;
  left: 0;
  position: absolute;
  top: 0;
  width: 267px;
}

.box .group-3 {
  height: 153px;
  left: 0;
  position: absolute;
  top: 0;
  width: 267px;
}

.box .group-4 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 268px;
}

.box .btnback {
  height: 9px;
  left: 251px;
  position: absolute;
  top: 7px;
  width: 16px;
}

.box .text-wrapper {
  color: #000000;
  font-family: 'Poppins-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.box .div-2 {
  height: 106px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 267px;
}

.box .group-5 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 269px;
}

.box .checkbox {
  border: 2px solid;
  border-color: #979797;
  border-radius: 3px;
  height: 17px;
  left: 250px;
  position: absolute;
  top: 3px;
  width: 17px;
}

.box .text-wrapper-2 {
  color: #000000;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .group-6 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 269px;
}

.box .text-wrapper-3 {
  color: #000000;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.box .group-7 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 84px;
  width: 269px;
}

.box .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 172px;
  width: 267px;
}

.box .overlap {
  height: 173px;
  left: 0;
  position: absolute;
  top: 856px;
  width: 267px;
}

.box .text-wrapper-4 {
  color: #000000;
  font-family: 'Poppins-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .group-8 {
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 267px;
}

.box .group-9 {
  height: 173px;
  left: 0;
  position: absolute;
  top: 193px;
  width: 267px;
}

.box .group-10 {
  height: 215px;
  left: 0;
  position: absolute;
  top: 386px;
  width: 267px;
}

.box .group-11 {
  height: 148px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 267px;
}

.box .group-12 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 126px;
  width: 269px;
}

.box .img {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 267px;
}

.box .group-13 {
  height: 215px;
  left: 0;
  position: absolute;
  top: 621px;
  width: 267px;
}

.box .group-14 {
  height: 141px;
  left: 0;
  position: absolute;
  top: 1049px;
  width: 268px;
}

.box .group-15 {
  height: 94px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 268px;
}

.box .group-16 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 272px;
}

.box .text-wrapper-5 {
  color: #2395ff;
  font-family: 'Poppins-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.box .text-wrapper-6 {
  color: #2395ff;
  font-family: 'Poppins-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 198px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.box .group-17 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.box .text-wrapper-7 {
  color: #6b6b6b;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .text-wrapper-8 {
  color: #6b6b6b;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 222px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .overlap-group-wrapper {
  height: 20px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 268px;
}

.box .overlap-group {
  height: 20px;
  position: relative;
}

.box .line-2 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 268px;
}

.box .line-3 {
  height: 2px;
  left: 72px;
  position: absolute;
  top: 8px;
  width: 65px;
}

.box .ellipse {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #2395ff;
  border-radius: 10px;
  height: 20px;
  left: 58px;
  position: absolute;
  top: 0;
  width: 20px;
}

.box .ellipse-2 {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #2395ff;
  border-radius: 10px;
  height: 20px;
  left: 127px;
  position: absolute;
  top: 0;
  width: 20px;
}
