.box {
  height: 184px;
  position: relative;
  width: 821px;
}

.box .group {
  height: 184px;
  left: 0;
  position: fixed;
  top: 0;
  width: 821px;
}

.box .div {
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 278px;
}

.box .text-wrapper {
  color: #595959;
  font-family: 'Poppins-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 130px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.box .garuda-indonesia {
  height: 57px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100px;
}

.box .group-2 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 87px;
  width: 823px;
}

.box .btn-signup {
  height: 50px;
  left: 671px;
  position: absolute;
  top: 0;
  width: 152px;
}

.box .overlap-group {
  background-color: #2395ff;
  border-radius: 10px;
  box-shadow: 0px 8px 10px #2395ff4c;
  height: 50px;
  position: relative;
  width: 150px;
}

.box .text-wrapper-2 {
  color: #ffffff;
  font-family: 'Poppins-Bold', Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.box .element-pax {
  color: transparent;
  font-family: 'Poppins-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 524px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 14px;
  white-space: nowrap;
}

.box .span {
  color: #2395ff;
}

.box .text-wrapper-3 {
  color: #979797;
  font-size: 14px;
}

.box .group-3 {
  height: 96px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 156px;
}

.box .group-4 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 132px;
}

.box .btnback {
  height: 9px;
  left: 115px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.box .text-wrapper-4 {
  color: #2395ff;
  font-family: 'Poppins-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 101px;
}

.box .group-5 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 164px;
}

.box .text-wrapper-5 {
  color: #000000;
  font-family: 'Poppins-Medium', Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .text-wrapper-6 {
  color: #000000;
  font-family: 'Poppins-Medium', Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 110px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .vector {
  height: 18px;
  left: 66px;
  position: absolute;
  top: 3px;
  width: 19px;
}

.box .text-wrapper-7 {
  color: #6b6b6b;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.box .text-wrapper-8 {
  color: #6b6b6b;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 110px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.box .group-6 {
  height: 48px;
  left: 201px;
  position: absolute;
  top: 1px;
  width: 147px;
}

.box .text-wrapper-9 {
  color: #6b6b6b;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.box .text-wrapper-10 {
  color: #595959;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.box .img {
  height: 26px;
  left: 389px;
  position: absolute;
  top: 12px;
  width: 90px;
}
